body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9e8e8;
    display: flex;
    align-items: center;
}
h1 {
    margin: 20px;
}

.container {
    display: flex;
    height: 100vh; /* Altura total da visualização */
    justify-content:space-around; /* Alinhamento horizontal */
    align-items:self-start; /* Alinhamento vertical */
    flex-wrap: wrap;
    width: 80%;
    background-color: #104e66;
    color: white;
    
}

.box {
    background-color: #4CAF50;
   /* color: white;*/
    padding: 20px;
    margin: 10px;
   /* border-radius: 5px;*/
    font-size: 16px;
    text-align: center;
    width: 200px;
}
